* {
  box-sizing: border-box;
  margin: 0;
  padding: 0rem;
}

body {
  font-family: Space Grotesk, sans-serif;
  font-size: 1.2rem;
  background: #ebf1f2;
  color: #021316;
  cursor: default;
}

a {
  margin: 0.8rem;
  padding: 0.8rem;
  text-decoration: none;
  color: #ebf1f2;
  border-radius: 8px;
}

a:hover {
  background: #5f6caf;
}
